.contato {
  background-color: var(--black)!important;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .p-card {
    width: 80%;
  }

  .p-card-title {
    color: var(--orange);
  }
}
