.ranking-list {
  padding: 8px 0;
}

//.ranking-paper {
//  padding: 12px;
//}

.ranking-container {
  margin-top: 30px;
  text-align: center;
}

.header-text {
  color: #ff9800;
  margin-bottom: 30px;
  font-weight: bold!important;
}

.ranking-paper {
  padding: 20px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #ffe0b2, #ff9800);
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.paper-heading {
  color: #e65100;
  margin-bottom: 20px;
}

.list-item {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s;
}

.list-item:hover {
  transform: scale(1.02);
}

.list-item-text {
  color: #4caf50;
}

.divider {
  background-color: #e0e0e0;
}

.voltar-ranking {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background: linear-gradient(to bottom, #ff5722, #e64a19) !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  .p-button-label {
    color: white!important;
  }
}

.voltar-ranking:hover {
  background: linear-gradient(to bottom, #e64a19, #ff5722) !important;
}

